*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    background: white;
}
div .header{
    height: 55px;
    min-width: 1320px;
    background: #212121;
}
.header div {
    float: right;
    margin-right: 15px;
    display: block;
    height: 42px;
}
.header img{
    margin: 15px;
    height: 20px;
}
#img_bob{
    height: 28px;
    margin-top: 8px;
}

.content{

}


#container{
    display: table-row;
}
#container>div{
    display: table-cell;
}
#container>div:nth-child(1){
    width: 250px;
}
#container>div:nth-child(2){
    width: 100%;
    min-width: 645px;
}
#container>div:nth-child(3){
    min-width: 400px;
    width: auto;
}

.panel_left{
    vertical-align: top;
    display: inline-block;
    background: #3d3d3d;
    width: 225px;
    height: 600px;
}

.panel_right{

}

.margin-all{

}
#user {
    margin-top: 6px;
}
#user img{
    margin: 6px;
    height: 25px;
}
#user span{
    color: whitesmoke;
    line-height: 42px;
    /*vertical-align: top;*/
    /*margin: 2px;*/
    /*display: table-cell;*/
    /*vertical-align: top;*/
    padding-bottom: 15px;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    text-align: center;
}
/********************************************************/
#navigation_left_panel {
}
#navigation_left_panel, #navigation_left_panel ul {
    list-style:none;
    padding:0;
    /*width:325px;*/
    width: 270px;
    background: #3d3d3d;
    /*margin-top: 0px;*/
}
#navigation_left_panel ul {
    position:relative;
    z-index:-1;
}
#navigation_left_panel li {
    position:relative;
    z-index:100;
}
#navigation_left_panel ul li {
    margin-top:-32px;
    -moz-transition:  0.4s linear 0.4s;
    -ms-transition: 0.4s linear 0.4s;
    -o-transition: 0.4s linear 0.4s;
    -webkit-transition: 0.4s linear 0.4s;
    transition: 0.4s linear 0.4s;
}
#navigation_left_panel li a {
    background-color:#3d3d3d;
    color:white;
    font-family: 'Open Sans',sans-serif;
    display:block;
    font-size:16px;
    /*font-weight:bold;*/
    line-height:51px;
    outline:0;
    padding-left:15px;
    text-decoration:none;
    margin-bottom: 2px;
    border-bottom: 1px solid #5c5c5c;
}
#navigation_left_panel li form{
    border-bottom: 1px solid #5c5c5c;
}
#navigation_left_panel li a.sub {
    background:#3d3d3d url("images/arrow_left_btn_2.png") no-repeat right;
    margin-bottom: 1px;
    border-bottom: 1px solid #5c5c5c;
}
#navigation_left_panel li a + img {
    cursor:pointer;
    left:0;
    position:absolute;
    top:0;
    /*width:10px;*/
    /*height: 10px;*/
    /*float: right;*/
    margin-top: 20px;
}
#navigation_left_panel li a img {
    border-width:0px;
    height:18px;
    width: 18px;
    line-height:28px;
    margin-right:8px;
    vertical-align:middle;
}
#navigation_left_panel li a:hover {
    background-color:#333;
}
#navigation_left_panel ul li a {
    background-color:#3d3d3d;
    color:white;
    font-size:14px;
    line-height:30px;
    padding-left: 40px;
    border: none;
}
#navigation_left_panel ul li a:hover {
    background-color:#333;
    color:white;
}
#navigation_left_panel ul li a img {
    background: url("images/arrow-right.png") no-repeat right;
    border-width:0;
    height:20px;
    line-height:22px;
    margin-right:5px;
    vertical-align:middle;
    width:16px;
}
#navigation_left_panel ul li:nth-child(odd) a img {

}
#navigation_left_panel a.sub:focus {
    background:#333;
    outline:0;
}
#navigation_left_panel a:focus ~ ul li {
    margin-top:0;

    -moz-transition:  0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linears;
    -webkit-transition: 0.4s linears;
    transition: 0.4s linear;
}
#navigation_left_panel a:focus + img, #navigation_left_panel a:active + img {
    display:block;
}
#navigation_left_panel a.sub:active {
    background:#bcbdc1;
    outline:0;
}
#navigation_left_panel a:active ~ ul li {
    margin-top:0;
}
#navigation_left_panel ul:hover li {
    margin-top: 0;
}


/****************************************************************/
#accordian {
    background: #3d3d3d;
    width: 270px;
    margin: 100px auto 0 auto;
    color: white;
    /*Some cool shadow and glow effect*/

}
#accordian ul{
    width: 270px;
}
/*heading styles*/
#accordian h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 50px;
    padding-left: 10px;
    cursor: pointer;
    /*fallback for browsers not supporting gradients*/
    background: #3d3d3d;
    border-top: 2px solid #5c5c5c;
    /* background: linear-gradient(#003040, #002535); */
}
#search-field2{
    padding-bottom: 25px;
}
#accordian ul li:first-child h3{
    border-top: none;
}
#accordian ul li:nth-child(3) h3{
    border-top: none;
}
#accordian ul li:nth-child(3) h3>span{
    background: url("images/clock_small.png") no-repeat 10px 0px;
}
#accordian ul li:nth-child(4) h3>span{
    background: url("images/inbox_small.png") no-repeat 10px -2px;
}
#accordian ul li:nth-child(5) h3>span{
    background: url("images/calendar_small.png") no-repeat 10px -2px;
}
#accordian ul li:nth-child(6) h3>span{
    background: url("images/tasks_small.png") no-repeat 10px -2px;
}

/*heading hover effect*/
#accordian li h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    background: #303030;
}
/*iconfont styles*/

#accordian h3 span {
    font-size: 16px;
    margin-right: 10px;
    padding-left: 30px;
}
/*list items*/
#accordian li {
    list-style-type: none;
    position: relative;
}
/*links*/
#accordian ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    display: block;
    margin: 8px 0;
    padding: 0 0 0 50px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
    background: #303030;/* border-left: 5px solid lightgreen; */
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
    display: none;
}
/*#accordian ul ul li a{*/
    /*margin-left: 30px;*/
/*}*/
#accordian li.active ul {
    display: block;
}
li#show_inbox.active h3{
    background: red;
}
li#show_calendar.active h3{
    background: red;
}
li#show_tasks.active h3{
    background: red;
}
li#li_today.active h3 {
    background: red;
}
li.active h3:after{
    position: absolute;
    top: 12px;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 15px transparent;
    border-bottom: solid 15px transparent;
    border-right: solid 10px #ffffff;
}
/****************************************************************/
.search-box2{
    margin: 0 20px 2px 20px;
    border-bottom: 2px solid #5c5c5c;
}
#search-field>input{
    outline: none;
}

.search-box2 form>input{
    border: none;
    background: #3d3d3d;
    color: #ffffff;
    font-weight: normal;
}
.search-box2 form>input:focus{
    outline: none;
    border: none;
}
#search-form .submit{
    background: url(images/search.png) no-repeat ;
    background-size: 15px 15px;
    height: 15px;
    width: 15px;
    display: inline-block;
}
#menu-item{
    padding: 20px;
    width: 30px;
    float: right;
}
#menu_arrow {
    height: 10px;
    width: 10px;
    float: right;
    margin-top: 20px;
}
.panel-search {
    margin: 0;
    padding: 70px 5px 15px 15px ;
}
.panel-search .input-box{
    width: 235px;
}

.search-input{
    width: 210px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 6px;
}
/*.input-box a{*/
    /*padding-bottom: 0px;*/
    /*line-height: 0px;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
.input-box a{
    /*style="line-height: 0px; padding: 0; margin: 0;"*/
    line-height: 0px !important;
    padding-left: 0 !important;
    margin: 0 !important;
}
.input-box a:hover{
    background-color: #3d3d3d !important;
}
.inbox-box>input:focus{
    outline: none !important;
    border: none !important;
}


.content h1 {
    margin: 15px;
}
.address-box{
    background: lightgray;
    margin: 0 20px 10px 20px;
    padding: 10px;
    color: #3d3d3d;
}
.address-box>img:nth-child(1){
    height: 13px;
    width: 17px;
}
.address-box>span{
    padding: 0 5px;
}
.address-box>img:nth-child(3){
    height: 10px;
    width: 7px;
}
.inbox-box{
    background: #009cf7;
    color: white;
    font-weight: bold;
    margin: 0 20px;
    padding: 10px;
}
.outbox-box{
    background: #f4f9fd;
    color: #009cf7;
    font-weight: bold;
    padding: 10px;
    margin: 0 20px;
}
.mail-box{
    margin: 10px 20px 0 20px;
}
.mail-box-header{
    padding: 5px;
    background: #eef4f7;
}
.mail-box-header>div{
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 49%;
}
.mail-box-header input{
}
.mail-box-header select{
    color: white;
    background: #498dff;
    border: none;
    padding: 3px;
}
.mail-box-header-left-box{
    padding: 0px;
    float: left;
}
.mail-box-header-right-box{
    float: right;
}
.mail-box-header-right-box>a img{
    vertical-align: middle;
    height: 20px;
}
.mail-box-header-right-box>span{
    font-size: 14px;
    font-weight: bold;
    color: #969696;
    padding-right: 5px;
    vertical-align: middle;
}
#right-span{
    vertical-align: middle;
    line-height: 30px;
}
.message-box{
    color: #6d6d6d;
}
.message-box-line{
    padding: 5px;
}
.message-box-line>div{
    display: inline-block;
    vertical-align: middle;
}
.message-box-line>div:nth-child(1){
    width: 80%;
    vertical-align: middle;
}
.message-box-line>div:nth-child(1) input{
    padding: 0 15px;
}
.message-box-line>div:nth-child(1) img{
    margin: 0 10px;
    height: 15px;
    width: 15px;
}
.message-box-line>div:nth-child(2){
    width: auto;
    padding: 5px;
    margin-bottom: 8px;
    height: 15px;
}
.message-box-line>div:nth-child(2) img{
    height: 25px;
    width: 25px;
}
.message-box-line>div:nth-child(3){
    width: auto;
    padding-top: 10px;
    padding-right: 7px;
    float: right;
}
.bold-text{
    font-weight: bold;
}
.message-bg-light{
    background: white;
}
.message-bg-dark{
    background: #f8fbfd;
}
input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding: 0 10px 0 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    height:15px;
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}
label.css-label {
    background-image:url(images/csscheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/***************************************/
#mail-layer{
    display: none;
}
/***************************************/
#tasks-layer{
    display: none;
}
.task-box{
    margin: 10px 20px 0 20px;
}
#task_input{
    padding-left: 15px;
}
#task_input div>input{
    height: 30px;
    width: 98%;
    padding-left: 10px;
    margin-right: 15px;
    background: url("images/no_due_date.png") no-repeat right transparent;
    overflow: hidden;
    border: 1px solid #eeeeee;
}
#task_input>div{
    display: inline-block;
    vertical-align: middle;
}
#task_input>div div{
    display: block;
}
#task_input>div:nth-child(1){
    top: 0;
    width: 94%;
}
#task_input>div:nth-child(2){
}
#task_input>div:nth-child(2) div{
    height: 34px;
    vertical-align: middle;
}
#task_input div>img {
    height: 13px;
}
.task-box-header>div{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    margin: 15px 0 -10px 0;
}
.task-box-header>div:nth-child(2){

}
.task-box-header-right{
    float: right;
    margin: 5px;
}
.task-box-header-right img{
    height: 18px;
}
.task-box-content>div{
    display: inline-block;
    width: 100%;
}
.task-box-line{
    vertical-align: middle;
    padding: 7px 15px;
}
.task-box-line>div{
    display: inline-block;
}
.task-box-line div:nth-child(1){
    width: 15px;
}
.task-box-line div:nth-child(2) {
    border-bottom: 1px solid #eeeeee;
    padding: 0 15px 8px 0;
    margin-left: 5px;
    width: 87%;
}
.task-box-line div span{
    margin-bottom: 15px;
    font-size: 15px;
}
#task-buttons{
    margin: 7px 10px 0 15px;
}
#task-buttons>div{
    display: inline-block;
}
#task-buttons>div:nth-child(2){
    float: right;
    vertical-align: middle;
    margin-right: 0px;
}
#task-buttons>div:nth-child(2)>img{
    height: 15px;
    padding: 10px 5px 0 5px;

}
.task-btn-red {
    background-color: #df4932;
    border:1px solid #dcdcdc;
    color:#ffffff;
}
.task-btn-red:hover{
    background: #333333;
}
.task-btn:active {
     position:relative;
     top:1px;
 }
.task-btn{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;
    text-indent:0;
    display:inline-block;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:30px;
    width:70px;
    text-decoration:none;
    text-align:center;
}
.task-btn-cancel {
    background-color:transparent;
    border:1px solid #ffffff;
    color:#3d3d3d;
}
.task-btn-add{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #df4932;
}
.task-btn-cancel:hover {
    background-color: #e1e1e1;
}
#task-add{
    margin: 15px 15px 0 15px;
}
#task-add>div{
    display: inline-block;
}
#task-add>div:nth-child(2) {
    float: right;
    padding-top: 5px;
}
#task-add>div:nth-child(2) img{
    height: 15px;
}
/***************************************/
#calendar-layer{
    /*display: none;*/
}
.calendar-box{
    margin: 0 20px 10px 20px;
    padding: 10px;
    max-width: 620px;
}
.calendar-toggle{
    margin-bottom: 7px;
}
.calendar-toggle>div{
    height: 30px;
}
.calendar-toggle div {
    /*display: inline-block;*/
    float: right;
}
.calendar-toggle div>div{
    margin: 0 1px;
    padding: 7px 10px;
}
#today{
    background: #e7e7e7;
}
#month{
    background: #eeeeee;
}
#week_day{
    background: #dddddd;
}
.calendar-table{
    width: 100%;
}
.calendar-table table tr{
    height: 60px;
    background: #fafafa;
}
.calendar-table table tr td{
    width:  80px;
    background: #fafafa;
    vertical-align: top;
}
.calendar-table table tr td>div{
    margin: 2px 2px;
    padding: 1px;
}
.calendar-table table tr td div span{
    color: white;
}
#fri_1{
    background: #ffb939;
}
#fri_15_1{
    background: #66a3e2;
}
#fri_15_2{
    background: #555555;
}
#sun_16{
    background: #86249b;
}
#tue_19{
    background: #2dab41;
}
#long_day{
    background: #2dab41;
    position: absolute;
    min-width: 325px;
    width: 25.6%;
    max-width: 345px;
}
#click4google{
    background: #ffb939;
    position: absolute;
    min-width: 150px;
    width: 16%;
    max-width: 170px;
}
#table-header{
    padding: 0 5px;
    height: 20px;
    text-align: center;
    background: #3d3d3d;
}
#table-header td {
    background: #eeeeee;
}
.table_text{
    float: right;
    margin-right: 2px;
}
.td_100_width{
    width: 100%;
}
.td_85_width{
    width: 85%;
}
#select_list{
    width: 120px;
    border: 1px solid #e8e8e8;
    /*background: url("images/arrow_left_2.png") no-repeat right transparent;*/
}
#assign-select{
    background: transparent;
}
.select_60px{
    width: 60px;
}
#label_spent{
    margin-left: 15px;
    margin-right: 5px;
}
#label_status{
    margin-left: 15px;
    margin-right: 5px;
}
.gradient-select{
    height: 35px;
    background: -webkit-linear-gradient(#e8e8e8, #fefefe); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e8e8e8, #fefefe); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e8e8e8, #fefefe); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e8e8e8, #fefefe); /* Standard syntax */
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;
    border: 1px solid #e8e8e8;
}
.blind_text{
    color: #afafaf;
}
.white_text{
    color: white;
}
.datepiker{
    height: 25px;
    background: url("images/calendar-custom.png") no-repeat right transparent;
    overflow: hidden;
    border: 1px solid #eeeeee;
}
#3in1:nth-child(1){
    width: 100%;
}
#3in1:nth-child(3){
    width: 100%;
}
.datepiker-location{
    height: 25px;
    overflow: hidden;
    border: 1px solid #eeeeee ;
    background: url("images/google_maps.png") no-repeat right transparent;
}
/***************************************/
.styled-select{
    /*overflow: hidden !important;*/
    /*background: transparent;*/
    padding-left: 5px;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    overflow: hidden;
}
.styled-select-date{
    overflow: hidden;
    border: 1px solid #c4c4c4;
    background: url("images/calendar-custom.png") no-repeat right transparent;
    height: 25px;
}
.control-label-md1{
    width: 100px;
    text-align: right;
    font-size: 15px;
    padding-right: 5px;
}
.control-label-md2{
    width: 310px;
    padding-left: 5px;
}
.new-attach{
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 25px;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    padding-top: 4px;
    color: #333333;
    font-size: 18px;
}
.attach-custom{
    margin-top: -50px;
    margin-left:-410px;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 100px;
}
.td-left {
    width: 100px;
    text-align: right;
    font-size: 15px;
    padding-right: 5px;
}
.td-right{
}
#tasks{
    margin: 0 10px;
}